*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;    
}

body{
   
    width: 100%;
    height: 100vh;
    margin:0px;
    padding: 0px;
    font-family: "Aref Ruqaa Ink";
    background-image: url("Bild/Background/Galaxy.gif");
}

/*----------------//--->HEADER/MENU<---//----------------------*/

#Menu{
    
    width:100%;
    height:50px;
    padding: 30px;
    position: fixed;
    margin: 0px;
    z-index: 1000;
    top:0;
    background-image: url("Bild/Background/web.jpg");
    background-position: center;
    background-size: 1800px;
    background-position: top;

}

ul.oe_menu{          /*Menu*/
	list-style:none;
	width:50%;
    height: 50px;
    margin-left:1000px;
    margin-top: -50px;
	float:left;
	clear:both;  
}

.MenuBar{

    width: 150px;
    height: 50px;
    display:inline-block;
    margin-left: 50px;
    opacity: 0.8;
}

.MenuBarLogo{

    width: 150px;
    height: 50px;
    display:inline-block;
    margin-top: -120px;
    margin-left: 30px;
    
}

.oe_menu, a{

    position: relative;
    color: white;
}

.oe_menu a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 80%;
    text-decoration: none;
    color: white;
    background-color: fuchsia;
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.oe_menu a:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
    text-decoration: none;
    color: fuchsia;
}

ul.oe_menu > li{
	width:100px;
	height:20px;
	float:left;
    display: list-item;
    margin-left:40px;
    cursor: pointer;
    
}

ul.oe_menu:hover {
    background-position: right;
    color: fuchsia;
}

ul.oe_menu > li > a{
	display:block;
    opacity: 0.9;
	text-decoration:none;
	font-size:14pt;
	width:150px;
	height:40px;
	padding:5px;  
    color:white;
    margin-top: -5px;
    position: relative;
  
}

ul.oe_menu > li > a:hover,
ul.oe_menu > li.selected > a{

    font-weight: bold;
    font-size:14pt;
    color: fuchsia;
       
}

/*------------------------//FONT-STYLE//----------------------------------------------*/

h1 {
    
    font-size: 45pt;
    font-weight: bold;
    color:white;
    
}

h2 {
    
    font-size: 30pt;
    color: white;
    text-align: center;
   
}

h3 {
    
    font-size: 18pt;
    color: white;
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

h4{

    font-size: 20pt;
    color: white;
    text-align: center;
    
}

h5{

    font-size: 30pt;
    color: fuchsia;
    text-align: center;
    
}

h6{

    font-size: 22pt;
    color: white;
    text-align: center;
    
}

p{

    font-size: 16pt;
    color:white;
    
}

.Font1{

    font-size:20pt;
    color:white;
    text-align: center;
}

.Font2{

    font-size:42pt;
    color:white;
    text-align:center;
   
}

.Font3{

    font-size:65pt;
    color:fuchsia;
    font-weight: bold;
    text-align:center; 
}

.Font4{

    font-size:18pt;
    color:white;
    text-align:left;
      
}

.Font5{

    font-size:26pt;
    font-weight: bold;
    color:fuchsia;
    text-align: center;
    
}

.Font6{

    font-size:50pt;
    color:fuchsia;
    text-align:left;
    font-weight: bold;
    
}

.Font7{

    font-size:60pt;
    color:fuchsia;
    font-weight: bold;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;  
}

.Font8{

    font-size:50pt;
    font-weight: bold;
    color:fuchsia;
    text-align: left;  
}

.Font9{

    font-size:50pt;
    font-weight: bold;
    color:fuchsia;
    text-align: left;
    
}

.Font10{

    font-size:30pt;
    font-weight: bold;
    color:fuchsia;
    text-align: center;
    
}

.Font11{

    font-size:46pt;
    font-weight: bold;
    color:fuchsia;
    text-align: center;
    
}

.Font12{

    font-size:16pt;
    color:white;
 
}

.Font13{

    font-size:32pt;
    color:fuchsia;
    font-weight: bold;

}
/*--------------->#mySlider.JS - Carousel <---------------------------*/

/*----->Slider1<--------*/

.containercarousel1{
    width:100%;
    height: 650px;
    margin-top: 5px;
    background-image: url("Bild/Background/web.jpg");
    background-size: 1800px;
    background-position: center;
    opacity: 0.9;
   
}

.intro1{
    
    width:1550px;
    height: 600px;
    margin-top: 20px;
    display: flex;
    padding: 30px;
}

.Biography1{

    width: 800px;
    height: 500px;
    padding-left: 30px;
    margin-top: 50px;   
    
}

.WomanIcon{
    width: 150px;
    height: 150px;
    border:none;
    margin-left: 400px;
    margin-top: -100px;
 
}

.circle{

    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 450px;
    margin-top: -200px;
    animation: movimiento 5s ease-out infinite; /*Keyframe*/
    margin-bottom: 100px;
}

/*Button Slider*/

#Click{

    border: none;
    cursor: pointer;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin-left: 20px;
    margin-top: 50px;
    color: white;
    border: 2px solid silver;
    background:linear-gradient(to right, transparent 50%, rgb(244, 36, 188) 50%) no-repeat left / 200%;
    transition: background-position 0.3s ease; 

}

#Click:hover {
    background-position: right;
    color: white;
}

#Click2{

    border: none;
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin-left: 0px;
    margin-top: 50px;
    font-size: 16pt;
    color: white;
    border: 2px solid silver;
    background:linear-gradient(to right, transparent 50%, rgb(244, 36, 188) 50%) no-repeat left / 200%;
    transition: background-position 0.3s ease; 

}

#Click2:hover {
    background-position: right;
    color: white;
}


/*----------//Slider2//Manual Carousel//--------*/

#Programmingstools{  

    width:1500px;
    height:500px;
    margin-left: 150px;
    margin-top: -50px;
    margin-bottom: 100px;
     
}

.Box {
	max-width: 1500px;
	width: 90%;
	margin: auto;
    margin-top: 100px;
    margin-left: 100px;
}

.carousel__container {
	position: relative;
}

.carousel__previous,
.carousel__next {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
    background: none;
	
}

.carousel__previous {
	left: -30px;
}

.carousel__next {
	right: -30px;
}

.carousel__list {
	overflow: hidden;
}

.carousel__element {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}
/*------------------------//HOME PAGE/----------------------------------------------*/

#ContainerIntro1{

    width: 1300px;
    height: 1100px;
    margin-left: 300px;
    margin-top: 80px;
    
}

.MyProfil{

    width:1200px;
    height:800px;
    padding: 10px 10px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
}

.MyPhoto1{

    width: 250px;
    height: 250px;
    border-radius: 10px;
    float: right;
    margin-top: -20px;
    margin-right: -100px;
    margin-left:20px;
    text-align: justify;
    cursor: pointer;
    z-index: 0;     
}

.MyPhoto1:hover {filter: grayscale(80%);}

.MyPhoto2{

    width: 250px;
    height: 200px;
    border-radius: 10px;
    float: left;
    cursor: pointer;
    margin-right: 100px;
    text-align: justify;
      
}

.MyPhotoContainer{
    width:240px;
    height:240px;
    cursor: pointer;
    float: right;
    margin-left: -20px;
    border-radius: 2px;
    border:2px solid silver;
    margin-top: 10px;
    z-index: 1;  
    animation: ease-in-out;
    animation-duration: 60s;

}

.MyPhotoContainer:hover{
    animation: rebote 1s 2;
}
  
  
@keyframes rebote{
    20%{
      transform: translateX(-10px);
      
    }
    20%{
        transform: translateY(-10px);
        
    }
   
}

.Emailadresse{
    width: 300px;
    height: 60px;
    padding: 5px;
    border-bottom: 2px solid silver;
    margin-top: -100px;
    margin-left: -300px;
    transform: rotate(270deg); 
}

.SocialNetzworks{

    width: 280px;
    height: 80px;
    padding: 5px;
    border-bottom: 2px solid silver;
    display: flex;
    margin-left: 1250px;
    margin-top: -600px;
    transform: rotate(90deg); 
}

.Github{

    width: 100px;
    height: 80px;
    margin-left: 10px;
    cursor: pointer;

}

.Github:hover img{-webkit-transform:scale(1.1);transform:scale(1.1);}

#ContainerIntro3{

    width:1400px;
    height: 1200px;
    margin-top: 200px;
    margin-left:200px;
}

#Projekt{

    width: 1400px;
    height: 700px;
    margin-top: 0px;
    display: flex;
    flex-direction:row;
    cursor: pointer;
}


#Logo{    /*Logo Projekt*/
    margin-top: 60px;
    margin-left: 280px;
    cursor: pointer;
    
}

#Logo:hover img{-webkit-transform:scale(1.1);transform:scale(1.1);}
#Logo {overflow:hidden;}


.Screen1{

    width: 700px;
    height: 580px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 50px; 
}

.Screen1:hover img{-webkit-transform:scale(1.1);transform:scale(1.1);}
.Screen1 {overflow:hidden;}

.Screen2{

    width: 750px;
    height: 580px;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
}

.Screen2:hover img{-webkit-transform:scale(1.1);transform:scale(1.1);}
.Screen2 {overflow:hidden;}

.Screen3{

    width: 800px;
    height: 580px;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 30px;
}

.Screen3:hover img{-webkit-transform:scale(1.1);transform:scale(1.1);}
.Screen3 {overflow:hidden;}

#ContainerIntro4{

    width:1000px;
    height: 500px;
    margin-top: 250px;
    margin-left: 400px;
}

.MyLogo{  /*My personal logo */

    width: 300px;
    height: 180px;
    cursor: pointer;   
}

.MyLogo:hover{
    animation: flash 0.5s 1;
}

@keyframes flash{   /*Animation with CSS*/
    25%, 75% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}
  
.MyLogo:hover{filter:saturate(200%);}

#Menssage{    /*Button Say Hello!*/
    border: none;
    cursor: pointer;
    margin-left: 380px;
    margin-top: 20px;
    font-size: 2rem;
    padding: 1rem 1rem;
    color: white;
    border: 2px solid silver;
    background:linear-gradient(to right, transparent 50%, rgb(244, 36, 188) 50%) no-repeat left / 200%;
    transition: background-position 0.3s ease;  
}

#Menssage:hover {
    background-position: right;
    color: white;
}


/*------------------>Services<-----------------------*/

#ContainerIntro2{

    width: 1500px;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 150px;
    cursor: pointer;
  
}

#ContainerIntro2 figure{

    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgb(0, 0, 0,0.50);
    cursor: pointer;
  
}

#ContainerIntro2 figure img{

    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

#ContainerIntro2 figure .capa{

    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(189, 97, 183, 0.7);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;

}

#ContainerIntro2 figure:hover >.capa{

    opacity: 1;
    visibility: visible;

}

#ContainerIntro2 figure:hover >.capa .Font5{

    margin-top: 70px;
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
    transition: all 500ms ease-out;
    margin-top: 30px;

}

#ContainerIntro2 figure .capa .Font5{

    color:white;
    font-weight: 400;
   
}


#ContainerIntro2 figure .capa .Font12{

    color:white;
    font-size: 16pt;
    line-height: 1.5;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

/*---------------------------//GALLERY//-------------------------------*/

.img-gallery{

    width: 1800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 10px;
    animation: movimiento 2.5s linear infinite;
   
}

.Back{                       /*GO BACK*/
    width: 150px;
    height: 60px;
    margin-left: 30px;
    margin-top: 80px;
  
}

.Back:hover{
    animation: click 0.5s 1;
}

.img-gallery img{

    width: 100%;
    cursor: pointer;
    transition: 1s;
    
}

.img-gallery img:hover{

    transform: scale(1.1);
}

.ful-img{

    width: 100%;
    height: 100vh;
    position: fixed;
    margin-top: 50px;
    background-color: black;
    top: 0;
    left:0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.ful-img span{

    position: absolute;
    top:5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.ful-img img{
   width: 90%;
   max-width: 600px;
}

.Phrase{

    width: 1000px;
    height: 300px;
    margin-left: 450px;
    margin-top: 150px;
}


/*------------------------//FOOTER//----------------------------------------------*/

#ContainerFooter{

    width:100%;
    height:600px;
    margin: 0px;
    padding: 0px;
}

.Contact1{

    width:100%;
    height:400px;
    padding: 60px;
    margin-top: 100px;
    background-color: black;  
}

.Astroimg{

    width: 200px;
    height: 120px;
    margin-left: 600px;
}

.Contact2{
    width:100%;
    height:350px;
    margin-top: -100px;
    background-color: black;
   
}

.Contact3{

    width:100%;
    height:60px; 
    margin:0px;
    padding-left: 30px;
    background-image: url("Bild/Background/web.jpg");
}

.Netz3{

    width: 700px;
    height: 200px;
    margin-left: 700px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
   
}

.Git{

    width: 450px;
    height: 200px;
    margin-left: 0px;
    margin-top: 50px;
}


.Git:hover{
    animation: flash 0.5s 1;
}

@keyframes flash{
    25%, 75% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

.Contact3, p{

    text-align:center;
    font-size: 18pt;
}


hr{
    width: 1100px;
    height: 1px;
    margin-left: 250px;
    background-color: silver;
}

ul,li,a{
    
    text-decoration:none;
    font-size:14pt;
    margin-top: 10px;
    color:white;
    display:inline-block;
      
}

a:hover{

    text-decoration: none;
    font-weight: bold;
}

.Frase{
    color:white;
    font-size:16pt;
    text-align: center;
   
}

#Button-up{
    width: 60px;
    height: 60px;
    background-color: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border:4px solid transparent;
    transition: all 300ms ease;
    transform: scale(0); /*so that the button is not seen when scrolling */
}

#Button-up:hover{
    animation: click 0.5s 1;
}

@keyframes click{   /*Animation with Css*/
    25%,75%{
        transform: scale(0.8)
    }
    50%{
        transform: scale(1.1)
    }
}

#Button-up:hover{

    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

/*----------------//Formular-Contact  //----------------------*/

#FormularContainer{
   
    width: 1450px;
    height: 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: -200px;
    
}

#formulario{ /*Main Form*/
    width: 700px;
    height: 700px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    
}

.Formulario1{    

    width: 700px;
    height: 500px;
    margin-top: 5px;
    border-radius: 10px;
    margin-left: 100px;
     
}

.Formulario2{    

    width: 750px;
    height: 750px;
    padding-left: 100px;  
    padding-top: 10px;
      
}

.formulario__label{

    color:white;
    font-size: 14pt;
    margin-left: 10px;  
    cursor: pointer;
    display: block;
    
 
}

.formulario__input{

    padding: 10px;
    width: 300px;
    
}

#Menssage1{  /*TEXTAREA*/
    width: 600px;
    height: 150px;
    margin-left: 0px;
    margin-top: 10px;
    
}

.formulario__btn{   /*Button Contact*/

    border: none;
    cursor: pointer;
    font-size: 2rem;
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-top: 140px;
    color: white;
    font-size: 16pt;
    border: 2px solid;
    background:linear-gradient(to right, transparent 50%, rgb(244, 36, 188) 50%) no-repeat left / 200%;
    transition: background-position 0.3s ease; 
}


.formulario__btn:hover{
    animation: vaiven 1s 1;
  }
  @keyframes vaiven{
    15%{
      transform: translateX(-25%) rotate(-10deg);
    }
    30%{
      transform: translateX(20%) rotate(5deg);
    }
    45%{
      transform: translateX(-10%) rotate(-3deg);
    }
    60%{
      transform: translateX(5%) rotate(2deg);
    }
    75%{
      transform: translateX(-3%) rotate(-1deg);
    }  
}
   

.formulario__btn:hover {
    background-position: right;
    color: white;
}

.titulo{
    width: 600px;
    height: 100px;
    margin-left: 450px;
    margin-top: -500px;
}

.formulario__grupo-input {
	width: 310px;
    height: 45px;
    margin-top: 10px;
    
}

.formulario__grupo-input-Textarea {
	width: 300px;
    height: 250px;
   
}

.formulario__input {
	width: 600px;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 40px;
	transition: .3s ease all;
}

.formulario__input:focus {  /*Border-Click*/
	border: 3px solid fuchsia;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__grupo-input-Textarea:focus {  /*Border-Click*/
	border: 3px solid fuchsia;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}


.formulario__input-error {   /* Menssage Error */
	font-size: 16px;
    margin-left: -420px;
    margin-top: 0px;
    display: none;
	
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {  /* Icon */
	
    margin-top: -30px;
    margin-left: 560px;
    position: absolute;
	opacity: 0;
}


.formulario__mensaje {
	width: 450px;
    height: 45px;
    padding: 10px;
	background: #F66060;
	border-radius: 3px;
	margin-left: -330px;
	margin-top: 180px;
    display: none;
  
}

.formulario__mensaje p {
	margin: 0;
}


.formulario__mensaje-exito {
	font-size: 24px;
	color: #119200;
	display: none;
    margin-top: 50px;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ------------- Stile für die Validierung / Styles for Validation--------------------- */

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


.Infos{
    
    width: 600px;
    height: 300px;
    padding-left: 10px;
    margin-left: 50px;
    margin-top: 80px;  
   
}


/* -------SUCCESSFUL MESSAGE--------*/

.form_wrap{
    width: 650px;
    height: 400px;
    margin: 30px auto;
    display: flex;
    margin-top: 100px;
    cursor: pointer;
    background-position: center;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    animation: rebote-in 1s 1;
}


@keyframes rebote-in{   /*Animation whit Css*/
    0%{
      transform: scale(0.3);
      opacity: 0;
    }
    50%{ 
      transform: scale(1.1);
      opacity: 1;
    }
    70%{
      transform: scale(0.9)
    }  
}


.menssage-successfully{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menssage-successfully h1{
    font-size: 30px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.menssage-successfully a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
}

/*-----------------------//RESPONSIVE Laptop Screen Size 1600 X 800 //----------------------------------*/

@media  (max-width: 1080px) and (min-width: 1530px){
   
    /*----HOME PAGE-MENU---*/

    #Menu{

        width: 100%;
        margin: 0px;
        z-index: 1000;
        top:0;
    }

    .MenuBarLogo, img{

        width: 60%;
        height: auto;
        margin-left: -50px;
    }

    .MenuBar{
        width: 50px;
        height: 50px;  
    }

    .oe_menu{
        width: 100%;
        height: auto;   
    }

    .MenuBar,li,a{
        
        font-size: 14px;
        width: 100px;
        height: 20px;
        margin-left: 10px;
    }

    .oe_menu a:after{

        width: 100%;
        
    }

    /*-----Slider 1--*/
   
    .containercarousel1{

        width: 1100px;
        height: 510px;
        background-size: 800px;
        background-position: center;
     
    }
    .carousel-caption{

        width: 50px;
        height: 20px;
    }
    
    .intro1{

        width: 90%;
        height: 500px;      
    }

    .Biography1{

        width: 500px;
        height: 500px;
        margin-top: 30px;   
        
    }

    .WomanIcon{

        width: 100px;
        height: 80px;
        margin-top: -60px;
        margin-left: 150px;
    }

    .circle{

        display: none;
    }

    #Click{

        width: 120px;
        height: 40px;
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
        margin-left: 5px;
    }

    #Button-down{

        display: none;
    }

    #Click, img {

        width: 100px;
    }

 /*-----FONSIZE------*/

 h1{

    font-size: 24pt;
    
}

h2{

    font-size: 26pt;
    text-align: center;
}

h3{

    font-size: 14pt;
    
}
h6{

    font-size: 14pt;
}

.Font1{

    font-size: 16pt;
}

.Font3{

    font-size: 36pt;
}

.Font4{

    font-size: 12pt;  
}

.Font5{

    font-size: 16pt;
    text-align: center;
}

.Font6{

    font-size: 40pt;
    text-align: center; 
}

.Font8{

    font-size: 26pt;
}

.Font9{

    font-size: 30pt;
}

.Font10{

    font-size: 18pt;
    text-align: left;
}

.Font11{

    font-size: 34pt;
}

.Font13{

    font-size: 24pt;
    text-align: center;
}

.Frase{

    font-size: 16pt;
}
p{

    font-size: 12pt;
    text-align: left;
}

hr{

    display: none;
}


/*------->Main page part 1<------------*/

   #ContainerIntro1{
        width: 900px;
        height: 900px;
        margin-bottom: 300px;
        margin-left: -100px;
       
    }

    .MyProfil{

        width: 700px;
        height: 600px;
        margin-left: 120px;
       
    }

    .MyPhoto1{

       display: none;
      
    }

    .MyPhoto2{

        width: 100px;
        height: 200px;
        margin-left: 50px;
    }

    .MyPhoto2,img{

        width: 200px;
        height: 200px;
    }

    .MyPhoto1, img {

        width: 200px;
        height: 200px;
        margin-top: -10px;
        margin-left: -80px;
        
    }

    .MyPhotoContainer{

        display: none;
    }

    .Emailadresse{

        display: none;
    }

    .Emailadresse{

      margin-left: -330px;
      margin-top: -200px;
      font-size: 16pt;
      text-align: center;
    }

    .Back{   /* Goback button*/

        width: 80px;
        height: 40px;
    }

    #Button-up{    /* Button Scrollup*/

        width: 50px;
        height: 50px;
    }


   /*--->Main page part 2 - Slider2<------*/
    
    #Programmingstools{

        width: 900px;
        height: 400px;
        margin-top:-400px;
        margin-left: 50px;
    }

    .Box{
        width: 800px;
        height: 200px;
        margin-top: 50px;
        margin-left: 10px;
        
    }

   .SliderManual{
        width: 800px;
        height: 200px;
    }

    .carousel__list{
        width: 800px;
        height: 120px;
        
    }
   
    .carousel__container{

        width: 800px;
        height: 150px;
        margin-left: 50px;
       
    }

    .carousel__element{
        width: 50px;
        height: 200px; 
    }
    .carousel__element, img{

        width: 50px;
        height: 50px;
        padding: 10px;
    }
 
    /*--->Main page part 3 <------*/

    #ContainerIntro2{
       
        width: 900px;
        height: 1500px;
        background-color: #1ed12d;
        justify-content: space-between;
    }

    #ContainerIntro2,figure  {

        width: 800px;
        height: 1400px;
      
    }

    .capa{

        width: 100px;
    }

    .MyLogo{
        display: none;
    }

    #Menssage{  /*Button Say Hello*/

        width: 120px;
        height: 50px;
        margin-left: 300px;
        border: 2px solid silver;
        background:linear-gradient(to right, transparent 50%, rgb(244, 36, 188) 50%) no-repeat left / 200%;
        transition: background-position 0.3s ease;  

    }

    #Menssage:hover {
        background-position: right;
        color: white;
    }
    
    #ContainerIntro3{

        display: none;
    }

    #ContainerIntro4{

        width: 700px;
        height: 250px;
        margin-left: 150px;  
    }


    /*--------Gallery-------*/

    .img-gallery{

        width: 1000px;
        height: 1000px;
        margin-top: -10px;  
      
    }

    .img-gallery, img{

        width: 1000px;
        height: 600px;
        margin-left: 50px;
    }

    .Phrase{

       width: 600px;
       height: 150px;
       margin-left: 220px;
       margin-top: 200px;
       margin-bottom: 50px;
      
    }


    /*----//CONTACT//-----*/

    #FormularContainer{

        width: 800px;
        height: 600px;
        margin-top: 10px;
        margin-bottom: -140px;
        margin-left: 50px;
         
    }

    #formulario{
        
        width: 600px;
        height: 400px;
        margin-top: -10px;
    }

    .Formulario1{

       display: none;
        
    }

    .formulario__label{

        font-size: 16pt;
    }

    .formulario__input{

        width: 340px;
        height: 40px;
        margin-top: 10px;
    
    }

    #grupo__Menssage1{

        margin-top: 10px;
    }

    .Formulario2{

        width: 700px;
        height: 550px;
        margin-top: -10px;
        margin-left: 100px;
        border:2px solid;
    }

    .formulario__validacion-estado {

        display: none;
    }

    .formulario__grupo{

        margin-left: 100px;
        margin-top: -10px;
    
    }

    .formulario__input-error{

        margin-left: 10px;
    }

    #Menssage1{

        width: 350px;
        height: 150px;
        margin-left: -5px;
    }

    .formulario__btn{

        margin-top: 140px;
        width: 150px;
        margin-left: 100px;
       
    }

    #Click2{

        width: 200px;
    }

    /*-------Footer----------*/

    #ContainerFooter{

        width: 100%;
        height: auto; 
        background-color: #606060;
        margin: 0px;    
    }

    .Contact1{
        width: 100%;
        height: auto; 
    }

    .Contact2{

        display: none;
        margin: 0px;
    }
 
    .Contact3{
        
        width: 100%;
        height: auto; 
        margin: 0px;    
    }

    .Contact3,p{
        
       font-size: 14pt; 
    }

    .Astroimg{
        width: 100px;
        height: 80px;
        margin-left: 350px;
    }

    .Astroimg, img{
        width: 20%;
        height: auto;
       
    }

 
}



